.bg-image{
    background-image: url(../../images/page-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.align-img{
    margin-top: 50%;
}
@media (max-width: 991px){
    .align-img{
        margin-top: 1%;
    }
}